@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #e0e0e0;
  --font-space: 'Space Grotesk', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-display: var(--font-space);
  --color-primary: #5862f3;
  --color-secondary: #10b981;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space);
}
